
.list-area{
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.45s ease-out;
    
}
.list-area:hover{
    transform: scale(1.01);
}
.list-area:hover .awesome-btn{
    left: 0;
    bottom: 0;
}

.course-list{
    
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}
.img-container{
    display: flex;
    flex-direction: column;
    position: relative;
}
.img-container a{
    width: 235px;
}
.img-container a img{
    width: 100%;
}
.description{
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}
.awesome-btn{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    background-color: #102040;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: -100%;
    line-height: 40px;
    padding: 0;
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    transition: all 1s ease;
}
.awesome-btn:hover{
    background-color: #fe9c37;
    color: #ffff;
}